body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/signup.jpg');
    background-size: cover;
}
.card-text{
    font-size: 0.7rem;
    color: red;
    font-weight: 600;
}
.card-body{
    background-color: #333;
}
.card{
    border: #333;
    border-radius: 0.5rem;
}
.heading{
    font-weight: 800;
}
.card{
      transition: 0.3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      transition-duration: 5s;
  cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    
}